*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    background: linear-gradient(#9b5de5,#f15bb5);
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box{

    width: 800px;
    height: 180px;
    background: rgba(255, 255, 255, 0.2); 
    
    box-shadow: 0 6px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.1); 
    text-align: center;
    padding-top: 50px;
    border-radius: 10px;
    
    

}

.box span{
    font-size: 80px;
    width: 110px;
    color: #00f5d4;
}


